<div class="wrapper">
  {{ attach_library('commentsbook/scripts_commentsbook_home') }}
  <section class="content_section">
    <div class="data" id="comments_blocks">
      {% include '@commentsbook/commentsbook-blocks-theme.html.twig' %}
    </div>
  </section>
</div>
{% include '@commentsbook/parts/footer.html.twig' %}
